.element__like {
height: 19px;
width: 22px;
background-image: url(../../../images/like.png);
border: none;
background-color: #fff;
transition: 0.3s;
}


.element__like:hover {
    opacity: 0.6;
}

.element__like:active {
    background-image: url(../../../images/like_activ.png);
    opacity: 1;
    }
