.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 50px;
  display: grid;
  grid-template-columns: 150px 312px auto 150px;
  grid-template-rows: 70px 50px;
  justify-items: start;
  align-items: center;
  grid-auto-rows: auto;
}

@media screen and (max-width: 1080px) {
  .profile {
    padding: 45px 100px 50px;
  }
}

@media screen and (max-width: 880px) {
  .profile {
    padding: 45px;
    grid-template-columns: 150px 312px auto;
    grid-template-rows: 70px 50px 86px;
    grid-auto-rows: 50px;
  }
}

@media screen and (max-width: 606px) {
  .profile {
    padding: 41px 19px 37px;
    grid-template-rows: 146px 26px 28px 86px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
