.header__logo {
  width: 142px;
  padding: 0 0 36px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    padding-bottom: 27px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 104px;
    padding-left: 28px;
  }
}
