.popup-container__input {
width: 358px;
height: 27px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.21;
color: #000;
border-top: 0;
border-left: 0;
border-right: 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
outline: none;
padding-top: 26px;
padding-right: 0;
padding-bottom: 0;
padding-left: 0;
}

@media screen and (max-width: 880px) {
    .popup-container__input {
    width: 238px;
}}