.popup__container-submit {
margin: 46px auto 0;
padding: 15px 0 14px;
width: 100%;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.22;
text-align: center;
color: #FFF;
background-color: #000;
border: 0;
border-radius: 2px;
}

@media screen and (max-width: 880px) {
    .popup__container-submit {
    width: 238px;
    height: 46px;
    margin: 43px 0 0;
    font-size: 14px;
}}
