.popup__close {
width: 32px;
height: 32px;
background-image: url(/images/Close\ Icon.svg);
grid-column: 6/7;
grid-row: 2/3;
background-repeat: no-repeat;
background-size: contain;
}

@media screen and (max-width: 880px) {
    .popup__close {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 20px;
    height: 20px;
}}