.profile-info__edit-button {
margin: 0;
padding: 0;
width: 24px;
height: 24px;
background-image: url(../images/Edit_Button.png);
background-repeat: no-repeat;
background-color: #000;
background-size: contain;
border: none;
grid-column: 2/3;
grid-row: 1/2;
}

@media screen and (max-width: 606px) {
    .profile-info__edit-button {
    width: 18px;
    height: 18px;
}}

@media screen and (max-width: 480px) {
    .profile-info__edit-button {
    grid-row: 1/2;
    grid-column: 3/4;
}}