.profile-info {
display: grid;
grid-template-columns: auto 22px;
grid-template-rows: 39px 18px;
row-gap: 16px;
column-gap: 18px;
align-content: center;
justify-items: start;
align-items: baseline;
grid-column: 3/4;
}

@media screen and (max-width: 606px) {
    .profile-info {
    grid-template-columns: 189px auto;
    grid-template-rows: 26px 14px;
    row-gap: 14px;
    column-gap: 10px;
}}

@media screen and (max-width: 480px) {
    .profile-info {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-items: center;
    grid-template-columns: 18px auto 18px;
}}