.popup__container-title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.20;
  color: #000;
  margin: 0;
  padding-top: 34px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 36px;
}

@media screen and (max-width: 880px) {
  .popup__container-title {
    font-size: 18px;
    line-height: 1.22;
    padding-top: 25px;
    padding-left: 22px;
}}
