.profile__job {
  margin: 0;
  padding: 5px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.40;
  color: #FFF;
  grid-row: 2/3;
  grid-column: 2/3;
  max-width: 294px;
  align-self: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 606px) {
  .profile__job {
    font-size: 14px;
    line-height: 1.21;
    padding: 0;
    max-width: 240px;
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: 14px;
  }
}
